.navbar-brand{
	padding: 2px 15px;
	height: 70px;
}

.description {
  border: 2px black;
  text-shadow: -1px 0 #e91616, 0 1px #e91616, 1px 0 #e91616, 0 -1px #e91616;
}

.formDesc {
  text-shadow: -1px 0 #545454, 0 1px #545454, 1px 0 #545454, 0 -1px #545454;

}

#getResults {
	margin-left: -12px;
	font-size: 16px;
}

#zipCodeInput {
	color: black;
	font-size: 16px;
}

#myCarousel {
	margin-top: 6%;
	position: relative;
	bottom: 0;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-height: 375px;
    width: 30%;
    position: relative;
    display: inline-block;
    float: left;
    padding: 1%;
}

.carousel-inner > .item :first-child {
	margin-left: 5%;
}

.carousel-inner .active.left {
	left: -20%;
}
.carousel-inner .next {
	left:  20%;
}

.carousel-control .glyphicon-chevron-right {
	margin-right: -45%;
}

.carousel-control .glyphicon-chevron-left {
	margin-left: -45%;
}

.sectionDAN {
	margin-bottom: 2%;
}

.team {
	display: block;
	height: 180px;
	width: 180px;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}


#imgDeonte {
	background-position: left;
}

.links img {
	max-width: 70px;
	max-height: 70px;
}

.social-row {
	list-style: none;
}

.social-row :first-child {
	float: left;
	margin-left: 10%;
}

.social-row :last-child {
	float: left;
	margin-right: 10%;
}