.outerDiv {
                border: 2px solid black;
                margin: 5px;
                padding: 2px;
                /*text-transform: uppercase;*/
	 			clear: left;
 				max-height: 280px;
 				overflow: auto;
               /* background-color: #e91616;*/
                background-color: white;
               /* color: white;*/
                color: black;
           }

.titleDivClass
	{
		font-weight: bold;
		color: white;
		font-size: 20px;
		margin: 10px;
		/*background-color:  #F08080;*/
        background-color: #e91616;
		line-height: 25px;
	}	

.bName
	{
		display: inline;
	}


.imgDivClass1 {

		width:270px; 
		height:190px;
		float: left;
		margin: 5px;
		padding: 2px;
	}

.textclass 

{
	font-size: 14px;
	font-weight: normal;
	margin: 5px;
	padding: 2px;
}



#map {

	/* you need this for the map to show up */ 
    height: 400px;
	width: 100%;
}

.imgDivClass1:hover, .imgDivClass2:hover {
    background-color: orange;
}

.driveButton {
    height: 90px;
    width: 90px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 100px;
    border: 2px solid white;
    background-color: #E53D00;
    float: right;
    margin: 10px;
}

.infoButton {
    height: 90px;
    width: 90px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100px;
    border: 2px solid white;
    background-color: #7F7F7FFF;
    float: right;
    background-image: url("../images/car.png");
    margin: 10px;
}


.bName
{
    display: inline;
}

