.outerDiv {
                border: 2px solid black;
                margin: 5px;
                padding: 2px;
                /*text-transform: uppercase;*/
	 			clear: left;
 				max-height: 250px;
 				overflow: hidden;
           }


body {
	font-family: arial;	
	 }

.titleDivClass
	{
		font-weight: bold;
		font-size: 18px;
		margin: 10px;
		background-color: orange;
		line-height: 20px;
	}	


.imgDivClass1 {

		width:270px; 
		height:190px;
		float: left;
		margin: 5px;
		padding: 2px;
	}

.textclass 

{
	font-size: 14px;
	font-weight: normal;
	margin: 5px;
	padding: 2px;
}

.imgDivClass1:hover, .imgDivClass2:hover {
    background-color: grey;
}

#map {

	/* you need this for the map to show up */ 
    height: 400px;
	width: 100%;
}