.titleDivClass {
                border: 2px solid black;
                margin: 2px;
                padding: 2px;
                text-transform: uppercase;
	 			font-weight: bold;
                  }


body {
		
	font-family: arial;
	font-size: 15px;	

	}


.imgDivClass {

		width:270px; 
		height:180px;

	}

.textclass 

{
	font-size: 12px;
	font-weight: normal;


}

/*$('.titleDivClass').css({"text-transform": "uppercase", "font-weight":"bold"});*/